.post {
    &Title {
        margin-bottom: 0.5em;
    }

    &Date {
        margin-bottom: 1em;
    }

    &Image{
        text-align: center;
    }

    &Description{
        margin-top: 30px;
        margin-bottom: 30px;
    }
}